@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-50: #0a0a0a;
  --color-primary-100: #121212;
  --color-primary-200: #1c1c1c;
  --color-primary-300: #2a2a2a;
  --color-primary-400: #444444;
  --color-primary-500: #666666;
  --color-primary-600: #858585;
  --color-primary-700: #a3a3a3;
  --color-primary-800: #c2c2c2;
  --color-primary-900: #e0e0e0;
  --color-primary-950: #f5f5f5;

  --color-secondary-1: lab(58% 22 80);

  --color-secondary-1-2: lab(76.3898% 14.5258 98.4589);

  --color-secondary-2: lab(68% 18 94);

  --color-secondary-3: lab(86% 8 90);
}

@layer theme {
  .dark {
    --color-primary-50: #f5f5f5;
    --color-primary-100: #e0e0e0;
    --color-primary-200: #c2c2c2;
    --color-primary-300: #a3a3a3;
    --color-primary-400: #858585;
    --color-primary-500: #666666;
    --color-primary-600: #444444;
    --color-primary-700: #2a2a2a;
    --color-primary-800: #1c1c1c;
    --color-primary-900: #121212;
    --color-primary-950: #0a0a0a;

    --color-secondary-1: lab(86% 8 90);
    --color-secondary-1-2: lab(76.3898% 14.5258 98.4589);
    --color-secondary-2: lab(68% 18 94);
    --color-secondary-3: lab(58% 22 80);
  }
}

body {
  --foreground: #0a0a0a;
  --background: #ededed;
}

.categori-button {
  position: relative;
}

.categori-button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #444444;
  transition: width 0.3s ease;
}

.categori-button:hover::before {
  width: 100%;
}

.categori-button-imdb::before {
  background-color: #cbac05 !important;
}

.cinema-box {
  border-left-style: dashed;
  border-top-style: solid;
}

@media screen and (max-width: 640px) {
  .cinema-box {
    border-left-style: solid;
    border-top-style: dashed;
  }
}

.login-input {
  position: relative;
}

.login-input::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #444444;
  transition: width 0.3s ease;
}

.login-input:focus::before {
  width: 100%;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary-1); /* gri tik */
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: var(--color-secondary-3); /* track rengi */
  border-radius: 4px;
}

.thumb-swiper .swiper-button-prev,
.thumb-swiper .swiper-button-next {
  color: var(--color-secondary-1-2);

  top: 50%;
  transform: translateY(-20%);

  --swiper-navigation-size: 22px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: background-color 0.2s;
}

.thumb-swiper .swiper-button-prev:hover,
.thumb-swiper .swiper-button-next:hover {
  color: var(--color-secondary-3);
}

.swiper-pagination-bullet {
  background-color: var(--color-secondary-1-2) !important;
}

@keyframes shimmer-diagonal {
  0% {
    /* X: -%100 (Sol), Y: %100 (Alt) */
    transform: translate(-100%, 100%);
  }
  100% {
    /* X: %100 (Sağ), Y: -%100 (Üst) */
    transform: translate(100%, -100%);
  }
}

.shimmer-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(
    45deg,
    transparent 25%,
    rgba(255, 255, 255, 0.03) 45%,
    rgba(255, 255, 255, 0.1) 50%,
    rgba(255, 255, 255, 0.03) 55%,
    transparent 75%
  );

  animation: shimmer-diagonal 1.5s infinite linear;

  transform: translate(-100%, 100%);
}
