@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-50: #0a0a0a; /* Koyu moddaki 950'nin değeri */
  --color-primary-100: #121212; /* Koyu moddaki 900'ün değeri */
  --color-primary-200: #1c1c1c; /* Koyu moddaki 800'ün değeri */
  --color-primary-300: #2a2a2a; /* Koyu moddaki 700'ün değeri */
  --color-primary-400: #444444; /* Koyu moddaki 600'ün değeri */
  --color-primary-500: #666666; /* Orta nokta, aynı kalabilir */
  --color-primary-600: #858585; /* Koyu moddaki 400'ün değeri */
  --color-primary-700: #a3a3a3; /* Koyu moddaki 300'ün değeri */
  --color-primary-800: #c2c2c2; /* Koyu moddaki 200'ün değeri */
  --color-primary-900: #e0e0e0; /* Koyu moddaki 100'ün değeri */
  --color-primary-950: #f5f5f5; /* Koyu moddaki 50'nin değeri (En açık) */

  --color-secondary-1: #9e8704;
  --color-secondary-1-2: #cbac05;
  --color-secondary-2: #e5c203;
  --color-secondary-3: #ffd700;
}

@layer theme {
  .dark {
    --color-primary-50: #f5f5f5;
    --color-primary-100: #e0e0e0;
    --color-primary-200: #c2c2c2;
    --color-primary-300: #a3a3a3;
    --color-primary-400: #858585;
    --color-primary-500: #666666;
    --color-primary-600: #444444;
    --color-primary-700: #2a2a2a;
    --color-primary-800: #1c1c1c;
    --color-primary-900: #121212;
    --color-primary-950: #0a0a0a;

    --color-secondary-1: #ffd700;
    --color-secondary-1-2: #e5c203;
    --color-secondary-2: #cbac05;
    --color-secondary-3: #9e8704;
  }
}

body {
  --foreground: #0a0a0a;
  --background: #ededed;
}

.categori-button {
  position: relative;
}

.categori-button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #444444;
  transition: width 0.3s ease;
}

.categori-button:hover::before {
  width: 100%;
}

.categori-button-imdb::before {
  background-color: #cbac05 !important;
}

.cinema-box {
  border-left-style: dashed;
  border-top-style: solid;
}

@media screen and (max-width: 640px) {
  .cinema-box {
    border-left-style: solid;
    border-top-style: dashed;
  }
}

.login-input {
  position: relative;
}

.login-input::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #444444;
  transition: width 0.3s ease;
}

.login-input:focus::before {
  width: 100%;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary-1); /* gri tik */
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: var(--color-secondary-3); /* track rengi */
  border-radius: 4px;
}

.thumb-swiper .swiper-button-prev,
.thumb-swiper .swiper-button-next {
  color: var(--color-secondary-1-2);

  top: 50%;
  transform: translateY(-20%);

  --swiper-navigation-size: 22px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: background-color 0.2s;
}

.thumb-swiper .swiper-button-prev:hover,
.thumb-swiper .swiper-button-next:hover {
  color: var(--color-secondary-3);
}

.swiper-pagination-bullet {
  background-color: var(--color-secondary-1-2) !important;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
